<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="public/stylesheets/style.css" />
</head>

<body>
    <h1> Welcome to <%= name %></h1>
</body>

</html>
